.App {
  text-align: center;
}

@import url('https://v1.fontapi.ir/css/Vazir');
body{
  font-family: Vazir, sans-serif  !important;
}
input, p, ::placeholder,h1,h2,h3, h4, h5, h6,button{
  font-family: Vazir, sans-serif  !important;
}
.App-logo {
  /* height: 40vmin;
  pointer-events: none; */
  width: 30px;
  height: 30px;
  padding-left: 10px;
}


/*.App-header {*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*}*/

/*.App-link {*/
/*  color: rgb(112, 76, 182);*/
/*}*/

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.lastcircle{
  color:rgba(0, 108, 111, 1);
  margin-right: 200px;
}
.homeicon{
  color:rgba(0, 108, 111, 1);
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:focus{

}
.css-1kyos3n-MuiButtonBase-root-MuiButton-root:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: rgba(25, 118, 210, 0.04);
  border: 1px solid black !important;
}
.displayinput{
  display: none;
}
.imgupload{
  width: 104px;
  height: 104px;
  margin: auto;
  display: block;
  maxWidth: 100%;
  maxHeight: 100%;
  borderRadius:50%

}
.css-lqvmfd-MuiButtonBase-root-MuiButton-root:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: #006C6F !important;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}
.css-ugdq67-MuiButtonBase-root-MuiButton-root:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: #006C6F !important;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}
/*style*/
.css-1m9128y{
  /*background: red;*/
  position: absolute;
  /*margin-left: 40px;*/
  margin-top: -30px !important;
  z-index: 2000;

  text-align: center !important;
}